<!DOCTYPE html>
<html lang="en">
<head>
	{% include "resources/views/_includes/head.html" %}
</head>
<body>
	{% include "resources/views/_includes/jsdisabled.html" %}

	<div id="app">
		{% include "resources/views/_includes/header.html" %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include "resources/views/_includes/footer.html" %}
	</div>

	<!-- Scripts -->
	<script>window.environment = 'html'</script>
	<script src="assets/js/app.bundle.js?{{time}}"></script>
</body>
</html>
