<!DOCTYPE html>
<html lang="en">
<head>
	{% include "resources/views/_includes/head.html" %}
	<style>
		.container {
			max-width: 600px;
			padding: 30px 0;
		}
		.last-update {
			float: right;
			font-weight: 600;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<div id="app">
		<main>
			<div class="container">
				<div class="list-group">
					<div class="list-group-item d-flex align-items-center justify-content-center">
						{% include "resources/assets/svg/icons/logo.svg" %}
					</div>
					<div class="list-group-item p-1">
						<span class="last-update">Updated: {{ date }}</span>
					</div>
					<div class="list-group-item list-group-item-action disabled bg-light py-1">Pages</div>
					<a href="homepage.html" class="list-group-item list-group-item-action">Homepage</a>
				</div>
			</div>
		</main>
	</div>

	<!-- Scripts -->
	<script src="assets/js/app.bundle.js"></script>
</body>
</html>
