<!--

                                                     
        ███╗   ██╗███████╗████████╗ ██████╗ ██████╗ ██████╗ ███████╗
        ████╗  ██║██╔════╝╚══██╔══╝██╔════╝██╔═══██╗██╔══██╗██╔════╝
        ██╔██╗ ██║█████╗     ██║   ██║     ██║   ██║██████╔╝█████╗  
        ██║╚██╗██║██╔══╝     ██║   ██║     ██║   ██║██╔══██╗██╔══╝  
        ██║ ╚████║███████╗   ██║   ╚██████╗╚██████╔╝██║  ██║███████╗
        ╚═╝  ╚═══╝╚══════╝   ╚═╝    ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
          Best custom web solutions for your business - delivered!

                Visit https://netcore.agency/ to know more.

                           Project superheroes:

		                       Designers:
	        Roberts Slokenbergs < roberts.slokenbergs@netcore.lv > 
                   Aira Čaunāne < aira.caunane@netcore.lv > 
               Aksels Stukmanis < aksels.stukmanis@netcore.lv > 

				       		Front-end ninjas:
                Andrejs Volkovs < andrejs.volkovs@netcore.lv > 
                  Dāvis Pabērzs < davis.paberzs@netcore.lv > 
				 Uģis Jēkabsons < ugis.jekabsons@netcore.lv >
				 Andris Gailišs < andris.gailiss@netcore.lv >
						
				           Back-end rockstars:
	         Dmitrijs Mihailovs < dmitrijs.mihailovs@netcore.lv > 
				 Viktors Ņikiforovs < viktors.nikiforovs@netcore.lv >
				 Artūrs Lukjaņenoks < arturs.lukjanenoks@netcore.lv >


-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Website - {{ title }}</title>

<meta name="keywords" content="">
<meta name="description" content="">

<!-- Social: Facebook / Open Graph -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:site_name" content="">

<!-- Social: Twitter -->
<meta name="twitter:card" content="">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="">

<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="image" content="">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="76x76" href="">
<link rel="icon" type="image/png" sizes="32x32" href="">
<link rel="icon" type="image/png" sizes="16x16" href="">
<link rel="manifest" href="">
<link rel="mask-icon" href="" color="#ff985d">
<link rel="shortcut icon" href="">
<meta name="msapplication-config" content="">
<meta name="theme-color" content="#ffffff">

<!-- Stylesheets -->
<link rel="stylesheet" href="assets/css/app.css?{{time}}">